<%#googlemapapi表示部(仮)%>
<div class="shop-map-api">
  <%= image_tag "244467-01.jpg", size: "1919x600" %>
</div>

<%#店舗一覧表示部(人気順)%>
<h2 class="index-shop-title">店舗一覧</h2>

<% @shops.each do |shop| %>
  <div class="index-shop-card">
   <div class="index-shop-image">
    <%= image_tag shop.image, size: "400x250" %>
   </div>
   <%#店舗情報表示部%>
   <table class="index-shop-info-table">
    <tr>
     <td>店名</td>
     <td><%= shop.name %></td>
    </tr>
    <tr>
     <td>所在地</td>
     <td><%= shop.location %></td>
    </tr>
    <tr>
     <td>ジャンル</td>
     <td><%= shop.genre.name %></td>
    </tr>
    <tr>
     <td>営業時間</td>
     <td><%= shop.business_start_hours.strftime("%H:%M") %>~<%= shop.business_finish_hours.strftime("%H:%M") %></td>
    </tr>
   </table>
   <%#店舗評価表示部%>
   <table class="index-shop-rate-table">
    <tr>
     <td>お店の雰囲気</td>
     <td>
      <div id="average-raty-atmosphere-<%= shop.id %>"></div>
      <script>
       let elem_atmosphere_<%= shop.id %> = document.querySelector('#average-raty-atmosphere-<%= shop.id %>');
       let opt_atmosphere_<%= shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= shop.reviews.average(:atmosphere_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_atmosphere_<%= shop.id %>,opt_atmosphere_<%= shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>接客</td>
     <td>
      <div id="average-raty-servise-<%= shop.id %>"></div>
      <script>
       let elem_servise_<%= shop.id %> = document.querySelector('#average-raty-servise-<%= shop.id %>');
       let opt_servise_<%= shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= shop.reviews.average(:servise_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_servise_<%= shop.id %>,opt_servise_<%= shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>味</td>
     <td>
      <div id="average-raty-taste-<%= shop.id %>"></div>
      <script>
       let elem_taste_<%= shop.id %> = document.querySelector('#average-raty-taste-<%= shop.id %>');
       let opt_taste_<%= shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= shop.reviews.average(:taste_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_taste_<%= shop.id %>,opt_taste_<%= shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>混雑度</td>
     <td>
      <div id="average-raty-congestion-<%= shop.id %>"></div>
      <script>
       let elem_congestion_<%= shop.id %> = document.querySelector('#average-raty-congestion-<%= shop.id %>');
       let opt_congestion_<%= shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= shop.reviews.average(:congestion_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_congestion_<%= shop.id %>,opt_congestion_<%= shop.id %>);
      </script>
     </td>
    </tr>
   </table>
   <%#ボタン%>
   <div class="index-shop-button">
    <%= render "public/favorite_shops/favorite", shop: shop %>
    <%= link_to "店舗詳細", shop_path(shop.id), data: {"turbolinks" => false}, class:"index-shop-link-button" %>
   </div>
  </div>
<% end %>