<div id="map"></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<script>
function initMap(){
  geocoder = new google.maps.Geocoder()

  let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>},
    zoom: 15,
  });

  let contentString =
    "<h3><%= @shop.name %></h3>"+
    "<div><%= @shop.location %></div>"+
    "<div>ジャンル：<%= @shop.genre.name %></div>"+
    "<div>営業時間：<%= @shop.business_start_hours.strftime("%H:%M") %>~<%= @shop.business_finish_hours.strftime("%H:%M") %></div>";
   let infowindow = new google.maps.InfoWindow({
      content: contentString
   });

   let marker = new google.maps.Marker({
    position:{lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>},
    map: map,
    title: contentString
   });

   infowindow.open(map,marker);

   marker.addListener('click', function(){
      infowindow.open(map, marker);
   });

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap" async defer></script>

<h2 class="show-shop-title">店舗詳細</h2>

  <div class="show-shop-card">
   <div class="show-shop-image">
    <%= image_tag @shop.image, size: "400x250" %>
   </div>
   <%#店舗情報表示部%>
   <table class="show-shop-info-table">
    <tr>
     <td>店名</td>
     <td><%= @shop.name %></td>
    </tr>
    <tr>
     <td>所在地</td>
     <td><%= @shop.location %></td>
    </tr>
    <tr>
     <td>ジャンル</td>
     <td><%= @shop.genre.name %></td>
    </tr>
    <tr>
     <td>営業時間</td>
     <td><%= @shop.business_start_hours.strftime("%H:%M") %>~<%= @shop.business_finish_hours.strftime("%H:%M") %></td>
    </tr>
    <tr>
     <td>登録日</td>
     <td><%= @shop.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
   </table>
   <%#店舗評価表示部%>
   <table class="show-shop-rate-table">
    <tr>
     <td>お店の雰囲気</td>
     <td>
      <div id="average-raty-atmosphere-<%= @shop.id %>"></div>
      <script>
       let elem_atmosphere_<%= @shop.id %> = document.querySelector('#average-raty-atmosphere-<%= @shop.id %>');
       let opt_atmosphere_<%= @shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= @shop.reviews.average(:atmosphere_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_atmosphere_<%= @shop.id %>,opt_atmosphere_<%= @shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>接客</td>
     <td>
      <div id="average-raty-servise-<%= @shop.id %>"></div>
      <script>
       let elem_servise_<%= @shop.id %> = document.querySelector('#average-raty-servise-<%= @shop.id %>');
       let opt_servise_<%= @shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= @shop.reviews.average(:servise_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_servise_<%= @shop.id %>,opt_servise_<%= @shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>味</td>
     <td>
      <div id="average-raty-taste-<%= @shop.id %>"></div>
      <script>
       let elem_taste_<%= @shop.id %> = document.querySelector('#average-raty-taste-<%= @shop.id %>');
       let opt_taste_<%= @shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= @shop.reviews.average(:taste_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_taste_<%= @shop.id %>,opt_taste_<%= @shop.id %>);
      </script>
     </td>
    </tr>
    <tr>
     <td>混雑度</td>
     <td>
      <div id="average-raty-congestion-<%= @shop.id %>"></div>
      <script>
       let elem_congestion_<%= @shop.id %> = document.querySelector('#average-raty-congestion-<%= @shop.id %>');
       let opt_congestion_<%= @shop.id %> = {
         size: 36,
         starOff: "<%= asset_path("star-off.png") %>",
         starOn: "<%= asset_path("star-on.png") %>",
         starHalf: "<%= asset_path("star-half.png") %>",
         half: true,
         score: <%= @shop.reviews.average(:congestion_rate).to_f.round(1) %>,
         readOnly: true,
       };
       raty(elem_congestion_<%= @shop.id %>,opt_congestion_<%= @shop.id %>);
      </script>
     </td>
    </tr>
   </table>
   <%#お気に入り登録ボタン%>
  <% if user_signed_in? %>
   <div class="show-shop-favorite-button">
    <%= render "public/favorite_shops/favorite", shop: @shop %>
   </div>
  <% end %>
  </div>
  <%#レビュー投稿フォーム%>
  <% if user_signed_in? %>
   <%= render "public/shops/review-form", shop: @shop %>
  <% end %>

  <%#コメント表示部%>
  <div class="comments-area">
   <h2 class="comments-title">コメント</h2>
   <% @comments.each do |comment| %>
    <% if comment.user!=current_user %>
    <table class="comment-table-others">
      <thead>
       <th><%= comment.user.name %></th>
      </thead>
      <tbody>
       <tr>
        <td><%= image_tag comment.user.image, size: "100x50" %></td>
        <td><%= comment.comment %></td>
       </tr>
      </tbody>
    </table>
    <% else %>
    <table class="comment-table-self">
     <thead>
      <th></th>
      <th><%= current_user.name %></th>
     </thead>
     <tbody>
      <tr>
       <td><%= safe_join(comment.comment.split("\n"),tag(:br)) %></td>
       <td><%= image_tag current_user.image, size: "100x50" %></td>
       <td><%= link_to "削除", shop_shop_comment_path(comment.id), method: :delete, class:"self-comments-delete-button" %></td>
      </tr>
     </tbody>
    </table>
    <% end %>
   <% end %>



   <%#コメント投稿フォーム%>
   <% if user_signed_in? %>
    <div class="comment-form-box">
     <%= form_with url: shop_shop_comments_path(@shop.id) do |f| %>
      <%= f.label :comment, "コメント投稿", class:"comment-form-label" %>
      <%= f.text_area :comment, class:"comment-form" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :shop_id, :value => @shop.id %>
      <%= f.submit "投稿", class:"comment-post-button" %>
     <% end %>
    </div>
   <% end %>

  <%#コメント投稿成功時フラッシュメッセージ%>
   <div class="comment-flash-message">
    <%= flash[:notice] %>
   </div>
  </div>

<%= link_to "店舗一覧へ戻る", shops_path, data: {"turbolinks" => false}, class:"show-shop-link-button" %>
